{% set url = h.add_url_param(h.url_for('bulk.organization_file_list', id=id), new_params=request.params) %}
{% if c.userobj %}
<div class="bulkdl">
  <div class="bulkdl-btn">
     <a title="A zip archive will download. Extract it, and then follow the instructions in the README file to download this data in bulk." class="btn btn-default"
        data-module="confirm-action" data-module-content="{% snippet 'ckanext_bulk/snippets/bulk_explanation.html' %}"
        href="{{ url }}" target="_blank"><i class="fa fa-download"></i> {{ _('Bulk download (metadata and data)') }}</a>
  </div>
</div>
{% else %}
<div class="bulkdl">
  <div class="bulkdl-lr">
    <i class="fa fa-icon fa-user"></i>
    <a href="{{ h.url_for('user.login', came_from='/organization/'+c.group_dict.name) }}" >{{ _('Log in') }}</a> {{ _('or') }} <a href="{{ h.url_for('user.register') }}" >{{ _('Register')}}</a> {{ _('to access resource')}}
  </div>
  <div class="bulkdl-btn">
     <span class="d-inline-block restricted-item pull-left" data-toggle="tooltip" title="Register or login to download">
       <a class="btn btn-default disabled" href="#" target="_blank" tabindex="-1"><i class="fa fa-download"></i> {{ _('Bulk download (metadata and data)') }}</a>
    </span>
  </div>
</div>
{% endif %}
