{% set url = h.url_for('bulk.package_file_list', id=id) %}
{% if c.userobj %}
	{% if request.params.q is defined or c.userobj.sysadmin or q == 'forced_by_facet' %}
      {{ h.snippet('ckanext_bulk/ajax_snippets/bulk_download_popover.html', url=url) }}
    {% endif %}
{% else %}
<div class="bulkdl">
  <div class="bulkdl-lr">
    <i class="fa fa-icon fa-user"></i>
    <a href="{{ h.url_for('user.login') }}" >{{ _('Log in') }}</a> {{ _('or') }} <a href="{{ h.url_for('user.register') }}" >{{ _('Register')}}</a> {{ _('to access resource')}}
  </div>
</div>
{% endif %}
